In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('data.csv')
df.head(5)

   Purchase  SUS  Duration  Gender  ASR_Error  Intent_Error
0         1   84       254       0          3             2
1         0   58       247       0          6             9
2         0   56       125       1          6             8
3         0   55        22       0         11             7
4         1   95       262       0          2             3

In [6]:
df.isna().sum()

Purchase        0
SUS             0
Duration        0
Gender          0
ASR_Error       0
Intent_Error    0
dtype: int64

In [7]:
df.corr(method='pearson')['SUS'].sort_values() # pearson: standard correlation coefficient

Intent_Error   -0.693675
ASR_Error      -0.662405
Duration       -0.006631
Gender          0.111523
Purchase        0.661931
SUS             1.000000
Name: SUS, dtype: float64